
* {
	box-sizing: border-box;
}

body {
	background: #000;
	color: #497E4E;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	/*display: flex;*/ 
	align-items: center;
}

.contenedor {
	max-width: 100%;
	width: 100%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- ---*/ 

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- ---*/
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__elemento a{
	color: #497E4E;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}



/* --- --- MENU INICIO --- --- */


* {
	margin:0;
	padding:0;
}
 
body {
	/*background:#FFFFFA;*/
}
 
header {
	width:100%;
}

header nav {
	width:100%;
	max-width:100%;
	margin:20px auto;
	background:#497E4E;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}



header nav ul li {
	float:left;
}





/* --- --- P  R  U  E  B  A  S      I  N  I  C  I  O --- --- */


/*
	header nav ul li ul li{
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
		margin-left: 100px;
		position: absolute;
	}

	header nav ul li ul li a:hover {
		display: ;
		float: ;
		background:#037E8C;
		position: relative;
	}	

/* --- --- P  R  U  E  B  A  S      F  I  N --- --- */



	header nav ul li a {
		color:#fff;
		padding:20px;
		display:block;
		text-decoration:none;
	}


 

header nav ul li span {
	margin-right:10px;
}



header nav ul li a:hover {
	background:#037E8C;
}



section {
	padding:20px;
}

@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
 


	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}





/*
	header nav ul li ul li{
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
		margin-left: 100px;
		position: absolute;
	}

	header nav ul li ul li a:hover {
	background:#037E8C;
	position: relative;
	}	

*/



	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:10px;
		background:#497E4E;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:18px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}


	header nav ul li ul li{
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
		margin-left: 100px;
		position: absolute;
	}

	header nav ul li ul a:hover {
	background:#037E8C;
	position: relative;
	}	

/* --- --- MENU FIN --- --- */




/* ------------------------- */
/* footer     INICIO*/   
/* ------------------------- */

footer{
    margin-top: 20px;
    width: 100%;
    background: #497E4E;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.rowx img{
    width: 36px;
    height: 36px;
}

.rowx label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}
.rowx a{
    color: #C7C7C7;
}

.rowx a:hover{
    background: #ccc;
    color: var(--azul-fuerte);
    padding: 15px;
}
.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    display: inline-block;
    margin-bottom: .5rem;
}
.row2 a{
    color: white;
}
.row2 a:hover{
    background: #ccc;
    color: #28285b;
    padding: 15px;
}

.container-footer{
    width: 100%;  
    background: var(--azul-fuerte);
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
    color: white;
    font-weight: bold;
}
.copyright a:hover{
    background: #ccc;
    color: #28285b;
}


.information a{
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
    color: #C7C7C7;
}

.information a:hover{
    background: #ccc;
    color: var(--azul-fuerte);
}

@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

/* ------------------------- */
/* footer     FIN*/   
/* ------------------------- */

